<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"><img src="{{site.baseurl}}/assets/res/logo_terrraformadores.png" alt="logo" width="50%" height="50%"/></a>
  </div>
  <div class="user-intro center-align">
  </div>
  <div class="user-content">
	  <h1> Proyecto Intermodular ASIR 2 </h1>
	  <h2>IES La Sénia</h2>
	  En esta página podréis encontrar una serie de recursos, retos y materiales que forman parte 
	  de los diferentes módulos de 2 de ASIR, así como los retos asociados al Proyecto Intermodular.

	  <ul>
		  <li><a href="./v9/">Proyecto Intermodular</a></li>
		  <li><a href="./v1/">SAD - Seguridad y Alta Disponibilidad</a></li>
		  <li><a href="./v5/">SER - Servicios en red</a></li>
		  <li><a href="./v4/">ASO - Sistemas Operativos</a></li>
		  <li><a href="./v3/">IAW - Implantación de Aplicaciones Web</a></li>
		  <li><a href="./v7/">Introducción a la programación</a></li>
		  <li><a href="./v8/">Digitalización</a></li>
	  </ul>

  </div>
</div>
