<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"><img src="{{site.baseurl}}/assets/res/logo_terrraformadores.png" alt="logo" width="50%" height="50%"/></a>
  </div>
  <div class="user-intro center-align">
  </div>
  <div class="user-content">
    <h1> Proyecto intermodular de segundo de ASIR </h1><h2>IES La Sénia
    </h2>     
  </div>
</div>
